# Environment Files mit sensiblen Daten
.env
.env.local
.env.production

# Python
__pycache__
*.py[cod]
*$py.class
venv

# IDEs  
.idea
.vscode/settings.json
.DS_Store

# Testing
.coverage
requirements.test.txt
tests

# Build artifacts
setup.cfg
requirements.txt
